<% content_for :twelve do %>
  <div class="navbar-spacer"></div> <!-- navbar-spacer -->
  <nav id="home-nav", class="navbar">
    <div class="container">

      <div class="pure-menu pure-menu-horizontal">
          
          <ul class="pure-menu-list pull-left"> 
              <li class="pure-menu-item"><%= image_tag(current_crew[:image], class: 'img-circle') %></li>             
              <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                  <ul class="pure-menu-children">
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
                  </ul>
              </li>
          </ul>
      </div>

  </div> <!-- container -->  
  </nav> <!-- navbar -->

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @all_articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.text %></td>
      <td><%= link_to 'Show', article_path(a) %></td>
      <td><%= link_to 'Edit', edit_article_path(a) %></td>
      <td><%= link_to 'Destroy', article_path(a),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  

  <%= link_to 'Home', root_path %>
</table>

<% end %>