<!-- Head
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :head do %>
<% end %>
<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :header do %>  

  <%= render 'layouts/header' %>

<% end %>
<!-- Twelve Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :twelve do %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @all_articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.content %></td>
      <td><%= link_to 'Show', article_path(a) %></td>
      <td><%= link_to 'Edit', edit_article_path(a) %></td>
      <td><%= link_to 'Destroy', article_path(a),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  
</table>

<% end %>
<!-- Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :content do %>
<% end %>
<!-- Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :misc do %>

  

<% end %>
