<!-- Head
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :head do %>

<% end %>
<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :header do %>  

  <%= render 'layouts/header' %>

<% end %>
<!-- Twelve Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :twelve do %>

  <!-- Show articles -->
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
   
  <p>
    <strong>Text:</strong>
    <%= @article.content %>
  </p>

  <!-- Show comments -->
  <h2>Comments</h2>
  <%= render 'comments/comment' %>

  <!-- Edit comments -->
  <h2>Add a comment</h2>
  <%= render 'comments/cform' %>

  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'New Article', new_article_path %>

<% end %>
<!-- Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :content do %>
<% end %>
<!-- Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :misc do %>

  

<% end %>




