<!-- Head
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :head do %>

  

<% end %>

<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- Twelve columns
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :twelve do %>

  <section class="section">

    <h4>The best traveling database</h4>    
    <%= link_to "Sign in with Facebook", crew_omniauth_authorize_path(:facebook), class: 'button button-primary' %>

    <div class="row">
      <div class="six columns">
        <%= image_tag('demo1.png', class: 'u-max-full-width') %> 
        <p>Record your own travel experience</p>
      </div> <!-- six columns -->
      <div class="six columns">
        <%= image_tag('demo1.png', class: 'u-max-full-width') %>
        <p>Reference your friends' travel path</p>
      </div>
    </div> <!-- row -->    

  </section> 




  <div class="navbar-spacer"></div> <!-- navbar-spacer -->
  <nav class="navbar">
    <div class="container">

      <div class="pure-menu pure-menu-horizontal">
        
        <ul class="pure-menu-list pull-left">          
          <li class="pure-menu-item"><a id="nav-intro" class="pure-menu-link" href="#intro">Intro</a></li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link" name="menuLink1">Preview</a>
          
              <ul class="pure-menu-children">            
                <li class="pure-menu-item">
                  <%= crew_session.inspect %>  <%= crew_signed_in?.inspect %>
                </li>
                <li class="pure-menu-item">
                  <%= link_to 'My Articles', articles_path, class: 'pure-menu-link' %>
                </li>                    
              </ul> <!-- pure-menu-children -->  
              
          </li>
        
        </ul> <!-- pure-menu-list pull-left -->
        
        <li class="pure-menu-item pull-right">
          <%= link_to 'Sign in', crew_omniauth_authorize_path(:facebook), class: 'pure-menu-link' %>
        </li>
        
      </div> <!-- pure-menu pure-menu-horizontal -->


    </div> <!-- container -->  
  </nav> <!-- navbar -->

  <section class="section">
    <h4>What is Liberta?</h4>

  </section>

  <div id="map"><!-- Google maps lays here --></div>

<% end %>


<!-- Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :content do %>



<% end %>

<!-- Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% content_for :misc do %>

  <!-- Googlemaps init -->
  <script>

    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 25.079612, lng: 121.234227},
        zoom: 8
      });
    }

  </script>

  <!-- Google maps async -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_lgD9O7ET_xj1x46QV12qmMbO7LzG7jQ&callback=initMap">
  </script>

<% end %>



