<div class="navbar-spacer"></div> <!-- navbar-spacer -->
<nav id="home-nav", class="navbar">
  <div class="container">

    <div class="pure-menu pure-menu-horizontal">

      <ul class="pure-menu-list pull-left">                  
        <li class="pure-menu-item"><%= image_tag(current_crew[:image], class: 'img-circle') %></li>          
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">            
          
          <a href="#" id="crew-name" class="pure-menu-link"><%= current_crew[:name] %></a>
          <ul class="pure-menu-children">            
            <li class="pure-menu-item">
              <%= link_to 'Home', root_path, class: 'pure-menu-link' %>
            </li>
            <li class="pure-menu-item">
              <%= link_to 'My Articles', articles_path, class: 'pure-menu-link' %>
            </li>                    
          </ul> <!-- pure-menu-children -->

        </li> <!-- pure-menu-item pure-menu-has-children pure-menu-allow-hover -->
      </ul> <!-- pure-menu-list pull-left -->
      
      <ul class="pure-menu-list pull-right">
        
        <li class="pure-menu-item">
          <% if crew_signed_in? == true %>
            <%= image_tag('orange-dot.png', class: 'img-circle') %>
          <% else %>
            <%= image_tag('red-dot.png', class: 'img-circle') %>
          <% end %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Sign out", destroy_crew_session_path, method: :delete, class: 'pure-menu-link' %>
        </li>

      </ul> <!-- pure-menu-list pull-right -->
      
      
    </div> <!-- pure-menu pure-menu-horizontal -->


  </div> <!-- container -->  
</nav> <!-- navbar -->