<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Moblie Specific Metas -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Fonts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Assests
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>Liberta!</title>
    <meta name="description" content="Travel DB">
    <meta name="author" content="Jim uplaabura">

    <!-- Yield head
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= yield :head %>

  </head>
  <body>

<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="navbar-spacer"></div>
      <div class="navbar">
        <div class="container">  
      
         <%= yield :header %>

        </div> <!-- container -->  
      </div> <!-- navbar -->
    </div> <!-- navbar-spacer -->   

<!-- Twelve
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="row">
        <div class="twelve columns">

          <%= yield :twelve %>              

        </div> <!-- twelve columns -->
      </div> <!-- row -->
    </div> <!-- container -->

<!-- Contents
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= yield :contents %>

<!-- Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= yield :misc %>     

  </body>
</html>

